body {
	margin: 0;
}   

h1 {
   background-color: yellow;
   margin : 50px 30px 50px 40px;
   padding: 40px;
}

p {
   background-color: red;
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 50px;
   margin-bottom: 50px;
   padding: 5px;
}